.navbar {
    background-color: white;
    padding: 20px 10px;
    padding-inline-start: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    margin: 0px;
    z-index: 10;
}

.navbar a {
    float: left;
    color: dodgerblue;
    text-align: center;
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    font-size: 30px; 
    line-height: 25px;
    border-radius: 4px;
}

.navbarRight {
    float: right;
    padding-inline-end: 150px;
}

.navbarRight a {
    font-size: 20px; 
    width: 130px;
}

.navbarRight a:hover {
    background-color: rgb(0, 100, 200);
    color: white;
    animation-name: expand-width;
    animation-duration: 1s;
}
