.navBottom {
    padding-top: 100px;
    margin-top: 0px;
}

.centerTitle {
  	text-align: center;
}

.graph {
    width: 80%;
    margin: auto;
}

.bar {
    float: left;
    background-color: orange;
    border: 1px solid black;
    margin: 1px;
    transition: height 0.1s;
}

.seekBar{
    width: 80%;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 10%;
}

.startButton {
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -60px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    background-image: linear-gradient(
        to right,
        blue,
        purple,
        orange,
        red
    );
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.startButton:hover {
    background-position: 100% 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

